<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <%include partials/template/header.ejs %>
    <h1><%= title %></h1>
    <h1><%= content %></h1>
    <p>Welcome to <%= title %></p>
    <%include partials/template/footer.ejs %>
    <%include partials/template/scripts.ejs %>
  </body>
</html>
