

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hapi App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a  target="_blank" href="/json">json</a></li>
      <!-- <li><a href="/employee">employee</a></li> -->
      
    </ul>
  </div>
</nav>